# **SQL Function Summary**

## **SQL Operation Order**

<img src=https://cdn.sisense.com/wp-content/uploads/image-1-order-blog.png width = 600 height = 300>

## **SQL JOINS**

<img src=https://www.codeproject.com/KB/database/Visual_SQL_Joins/Visual_SQL_JOINS_orig.jpg width = 600 height = 500>

## **Window Function**

In [ ]:
-- Active: 1658960739017@@127.0.0.1@3306@LeetCode
DROP TABLE IF EXISTS Employee;
CREATE TABLE Employee (id INT, salary INT);
INSERT INTO Employee (id, salary) VALUES
    ('1', '100'),
    ('2', '200'),
    ('3', '300'),
    ('4', '300');

SELECT *,
	   RANK() OVER(ORDER BY salary DESC), 
       DENSE_RANK() OVER(ORDER BY salary DESC), 
       ROW_NUMBER() OVER(ORDER BY salary DESC) 
FROM Employee;

| id | salary | RANK() | DENSE_RANK()| ROW_NUMBER()|
|:--:|:------:|:------:|:-----------:|:-----------:|
|  3 |	300	  |    1   |     1	     |     1       |
|  4 |  300	  |    1   |     1	     |     2       |
|  2 |  200	  |    3   |     2	     |     3       |
|  1 |  100	  |    4   |     3	     |     4       |

RANK(): 并列-占位-顺延 <br/>
DENSE_RANK(): 并列-不占位-顺延 <br/>
ROW_NUMBER(): 先到先得-顺延 <br/>

In [1]:
%%html
<style>
table {float:left}
</style>

## **PIVOT**

CASE WHEN

https://www.mssqltips.com/sqlservertip/7233/sql-pivot-sql-unpivot-examples-transform-data/

https://modern-sql.com/use-case/pivot

In [ ]:
## MS SQL SERVER 
SELECT <non-pivoted column>,  
    [first pivoted column] AS <column name>,  
    [second pivoted column] AS <column name>,  
    ...  
    [last pivoted column] AS <column name>  
FROM  
    (<SELECT query that produces the data>)   
    AS <alias for the source query>  
PIVOT  
(  
    <aggregation function>(<column being aggregated>)  
FOR   
[<column that contains the values that will become column headers>]   
    IN ( [first pivoted column], [second pivoted column],  
    ... [last pivoted column])  
) AS <alias for the pivot table>  
<optional ORDER BY clause>;

## **DATE**

DATE_ADD <br/>
DATE_SUB <br/>
DATEDIFF

## **ODD & EVEN Numbers**

Even: <br/>
MOD(NUM, 2) = 0 <br/>
 NUM % 2 = 0 <br/>

Odd: <br/>
MOD(NUM, 2) = 1 <br/>
NUM % 2 = 1

## **ROUND UP & DOWN**

CEIL(ING) - Round up to nearest integer <br/>
FLOOR - Round down to nearest interger